@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

body {
  background-color: #131a27;
  overflow-x: hidden;
}

:focus-visible {
  outline: none !important;
}

.slick-next {
  right: 3.1% !important;
}

.slick-prev {
  left: 1.3% !important;
  z-index: 1;
}

.slick-dots li button:before {
  font-size: 13px !important;
}

.slick-dots li.slick-active button:before {
  color: #979797 !important;
}

@media screen and (max-width: 600px) {
  .plyr__video-wrapper {
    height: auto !important;
  }
}